{{#if showtime}}
{{#each showtime}}
<div>
  <p class="hiddens" id="Sbranch">{{branch}}</p>
  <p class="hiddens" id="Stitle">{{title}}</p>
  <p class="hiddens" id="Sshowtime">{{showtime}}</p>
</div>
<p id="seatings">{{seat}}</p>
{{/each}}
{{else}}
<h3>No More avaliable seats</h3>
{{/if}}

<div class="seat-container">
  <div class="seating" id="seating-plan"></div>
</div>


<script>
  var selected_seats = [];
  var updated_seats = [];
  var count = 0;
  
 
  const seatingPlanData = []
  for (var i of ["A", "B", "C"]){
    for (var j=1; j<=6; j++) {
      var s = i + j.toString();
      console.log(s);
      seatingPlanData.push({id:s,row:i,col:j})
    }
  }

  seatingPlanData.forEach(element => {
    const avaliability = document.getElementById("seatings").innerHTML;
    const seats = avaliability.split(",")
    var seat = document.createElement('div');
    var seatID = document.createTextNode(element.id);

    seat.id = element.id;
    seat.appendChild(seatID);
    if (seats.includes(seat.id)) {
      seat.classList.add('seat-style');
      updated_seats.push(seat.id);
    } else {
      seat.classList.add('seat-occupied-style');
    }

    function seatClicked(e) {
      if (this.classList == "seat-style") {
        this.classList.remove('seat-style');
        this.classList.add('seat-selected-style');
        selected_seats.push(this.id);
        updated_seats.splice(updated_seats.indexOf(this.id), 1);
        selected_seats.sort();
        updated_seats.sort();
        count += 1;
      } else if (seat.classList == "seat-selected-style") {
        this.classList.remove('seat-selected-style');
        this.classList.add('seat-style');
        selected_seats.splice(selected_seats.indexOf(this.id), 1);
        updated_seats.push(this.id);
        selected_seats.sort();
        updated_seats.sort();
        count -= 1;
      } else if (seat.classList == "seat-occupied-style") {
        alert("Please choose a avaliable seat.");
      }

      document.getElementById("selected-seats").value = selected_seats;
      document.getElementById("updated-seats").value = updated_seats;
      document.getElementById("branch").value = document.getElementById("Sbranch").innerHTML;
      document.getElementById("title").value = document.getElementById("Stitle").innerHTML;
      document.getElementById("showtime").value = document.getElementById("Sshowtime").innerHTML;
      document.getElementById("noTicket").value = count;
      // code to execute goes here
    }

    seat.addEventListener('click', seatClicked, false);

    document.getElementById('seating-plan').appendChild(seat);
  })
</script>

<form method="post">
  <input type="hidden" name="selected-seats" id="selected-seats">
  <input type="hidden" name="updated-seats" id="updated-seats">
  <input type="hidden" name="branch" id="branch">
  <input type="hidden" name="title" id="title">
  <input type="hidden" name="showtime" id="showtime">
  <input type="hidden" name="noTicket" id="noTicket">
  <input type="submit" value="Submit">
</form>


<style>
  .hiddens {
    visibility: hidden;
  }

  .seat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125%;
    width: 100%;
  }

  .seating {
    height: 170px;
    width: 350px;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .seat-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    border-radius: 20px 20px 5px 5px;
  }

  .seat-selected-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: lightseagreen;
    color: white;
    border-radius: 20px 20px 5px 5px;
  }

  .seat-occupied-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: gray;
    color: white;
    border-radius: 20px 20px 5px 5px;
  }

  #seatings {
    font-size: 0;
  }

  .submit_btn {
    margin: 50px 48% 0 48%;
    justify-content: center;
    align-items: center;
  }
</style>